<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cart Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div class="container mx-auto py-10">
    <div class="flex">
        <div class="w-1/6"></div>
        <div class="w-5/12 border-b-2 border-black">
            <div class="flex justify-between">
                <h3 class="text-xl font-bold">GIỎ HÀNG</h3>
                <div class="flex space-x-4 items-center">
                    <h4 class="text-lg font-semibold" th:text="${cartItems.size()} + ' sản phẩm'"></h4>
                    <button class="bg-red-500 text-white py-2 px-4 rounded" onclick="clearCart()">
                        Xoá hết
                    </button>
                </div>
            </div>
            <div th:each="item : ${cartItems}">
                <div th:include="fragments/cartItem :: cartItem(item=${item})"></div>
            </div>
        </div>
        <div class="w-1/12"></div>
        <div class="w-3/12">
            <div class="bg-white shadow-md rounded p-6 text-center">
                <h4 class="text-xl font-bold mb-4">ĐƠN HÀNG</h4>
                <div th:each="item : ${cartItems}">
                    <div class="flex justify-between">
                        <span class="font-bold">x1 <span th:text="${item.name}"></span></span>
                        <span class="font-semibold">
                            <span th:text="${item.slot_start}"></span> - <span th:text="${item.slot_end}"></span>
                        </span>
                        <span class="font-bold">
                            <span th:text="${item.price}"></span> đ x <span th:text="${item.date_count}"></span> ngày =
                            <span th:text="${item.price * item.date_count}"></span> đ
                        </span>
                    </div>
                </div>
                <hr class="border-black my-4">
                <div class="flex justify-between">
                    <span class="font-bold">Tổng :</span>
                    <span class="font-bold text-red-500" th:text="${totalAmount} + ' đ'"></span>
                </div>
                <button class="bg-blue-500 text-white py-2 px-4 rounded mt-4" onclick="handleCheckout()">
                    Thanh toán
                </button>
            </div>
        </div>
    </div>
</div>


</script>
</body>
</html>
